* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #0d47a1;
    color: #fff;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.logo {
    width: 150px;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav-links li {
    display: inline-block;
    margin: 0 15px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #00e5ff;
}

.section {
    padding: 50px 0;
    text-align: center;
    background-color: #0d47a1;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #fff;
}

.section p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
}

.order-details, .delivery-info {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.order-details h3, .delivery-info h3 {
    font-size: 24px;
    color: black;
    margin-bottom: 10px;
}

.order-details p, .delivery-info p {
    font-size: 16px;
    color: black;
}

.button {
    background-color: #00e5ff;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 30px;
    display: inline-block;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #00b0ff;  
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 14px;
}
